{% set flashes = app.flashes %}
{% if flashes is not empty %}
    <div class="mb-6 space-y-2">
        {% for label, messages in flashes %}
            {% for message in messages %}
                <twig:Alert type="{{ label }}">{{ message }}</twig:Alert>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
